In [1]:
import pandas as pd
from collections import Counter

In [2]:
# pandas gives an error because a raw has extra columns, so we have to clean the data first
with open('COBRA021816.csv') as f:
    raw = []
    n_elements = []
    for line in f:
        raw.append(line.strip().split(','))
        n_elements.append(len(raw[-1]))
        

Counter(n_elements)

Counter({23: 241047, 24: 14, 25: 5, 1: 3, 26: 1})

In [22]:
# the fraction of incorrect raws is really small, so we will just remove them for the initial analysis
raw = [line for line in raw if len(line)==23]
d = pd.DataFrame(raw[1:],columns=raw[0])
d.drop(['\xef\xbb\xbfMI_PRINX', 'offense_id', 'rpt_date', 'poss_date', 'poss_time', 'beat', 'apt_office_prefix',
       'apt_office_num', 'MinOfucr', 'MinOfibr_code','dispo_code', 'MaxOfnum_victims', 'Shift', 'Avg Day', 
        'loc_type','npu'],axis = 1,inplace = True)
d.head()

,occur_date,occur_time,location,UC2 Literal,neighborhood,x,y
0,02/03/2009,13:50:00,55 MCDONOUGH BLVD SW,LARCENY-NON VEHICLE,South Atlanta,-84.38654,33.72024
1,02/06/2009,08:50:00,464 ANSLEY WALK TER NW,LARCENY-FROM VEHICLE,Ansley Park,-84.37276,33.79685
2,06/17/2009,14:00:00,375 AUBURN AVE,LARCENY-NON VEHICLE,Sweet Auburn,-84.37521,33.7554
3,02/24/2010,23:29:00,600 MARTIN ST,AGG ASSAULT,Pittsburgh,-84.3946,33.72212
4,01/08/2008,13:14:00,447 ARNOLD STREET NE,BURGLARY-RESIDENCE,Old Fourth Ward,-84.36896,33.76658

In [16]:
d.columns.values

array(['\xef\xbb\xbfMI_PRINX', 'offense_id', 'rpt_date', 'occur_date',
       'occur_time', 'poss_date', 'poss_time', 'beat', 'apt_office_prefix',
       'apt_office_num', 'location', 'MinOfucr', 'MinOfibr_code',
       'dispo_code', 'MaxOfnum_victims', 'Shift', 'Avg Day', 'loc_type',
       'UC2 Literal', 'neighborhood', 'npu', 'x', 'y'], dtype=object)

In [23]:
d.to_csv('atlanta_crime_data.csv',index = False)